.container {
    font-family: 'Roboto', sans-serif;
}

.text-light-blue{
    color: #70A9D3;
}

.bg-blue{
    background-color: #192C56;
}

.bg-dk-blue{
    background-color: #111D39;
}

.bg-light-gray{
    background-color: #fafafa;
}

a{
    text-decoration: none;
}

ul {
    padding: 0;
}

ul li{
    list-style: none;
}

h6{
    font-size: 14px;
}

h5{
    font-size: 18px;
}

h4{
    font-size: 20px;
}

h3{
    font-size: 25px;
}

h2{
    font-size: 30px;
    color: #192C56;;
}

.width100{
    width: 100%;
}

p{
    font-size: 15px;    
    font-weight:300;
}

button{
    border: none;
    text-decoration: none;
    background-color: transparent;
    color: #70A9D3;
}

.logo{
    font-size: 30px;
    font-weight: bold;
}

/* navbar */

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-brand,
.navbar-dark .navbar-text{
    color: #fff;    
}

.navbar-dark .navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(250, 250, 250)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand,
.navbar-light .navbar-text{
    color: #192C56;    
}

.navbar-light .navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(25, 44, 86)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-nav {
    font-size: 15px; 
    font-weight: normal;
}

.fixed-top {
    transition: background-color 200ms linear;
}

.fixed-top.scrolled {
    background-color: #fff;
    color: #111D39;
    transition: background-color 100ms linear;
}

.navbar .language{
    font-size: 12px;
    border: 1px solid #fff;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    width: 34px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
}

.slider img{
    height: 50vh;
    object-fit: cover;
}

/* highlighted------------------------------- */
.highlighted-inner{
    height: 80px;
    overflow-y: auto;
}

.highlighted-inner::-webkit-scrollbar {
    width: 2px;
}

.highlighted-inner::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.highlighted-inner::-webkit-scrollbar-thumb {
    background: #192C56;
}


/* products------------------------------- */
.products img{
    filter: opacity(70%); /*ToDo*/
}


/* shortlySection ------------------------- */
.shortlySection{
    color: #192C56;
}

.shortlySection .col-8{
    line-height: 72px;
}

.shortlySection .h5{
    margin-bottom: 0;
}

.circle{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid #192C56;
    color: #192C56;
    border-radius: 50%;
    line-height: 72px;
    width: 74px;
}
/* News ----------------------------------- */
.news p{
    font-size: 15px;
    font-weight:300;
}

.news h4 {
    color: #192C56;
}

/* Footer --------------------------------- */

.footer a{
    color: #70A9D3;
    text-decoration: none;
}

.footer ul li a {
    color: #ffffff;
    text-decoration: none;
}




/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

    .section-one .inner-image{
        position: relative;
    }

    .section-one .inner-image img{
        position: absolute;
        bottom: 0;
        padding-right: 15px;
    }

    .jumbo{
        position: relative;
    }

    .jumbo-inner{
        width: 50%;
        background-color: #fff;
        position: absolute;
        bottom: 0;
    }

    .highlighted{
        background-color: #fff;
        position: absolute;
        bottom: 0;
    }

    .shortlySection .col-8{
        line-height: normal;
    }
    
    .circle{
        font-size: 18px;
        font-weight: bold;
        border: 1px solid #192C56;
        color: #192C56;
        border-radius: 50%;
        text-align: center;
        width: 74px;
    }

    .footer [class*="col-md-"]{
        border-right: 1px solid #ffffff31;
    }

    .footer [class*="col-md-"]:last-child{
        border-right: none;
    }
}
